<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlDataDifferencingTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlDataDifferencingTool.Properties.Settings>
            <setting name="SourceServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value />
            </setting>
        </SqlDataDifferencingTool.Properties.Settings>
    </userSettings>
</configuration>